html a.button-primary{color:#FFF;text-decoration: none;}
.tax-teams .post-title{position:relative;margin-bottom:20px;}
.tax-teams .post-title h1{font-size:50px;position:absolute;top:20%;width:100%;text-align:center;padding:0 30px;color:#FFF;}
.tax-teams .post-title:before{content:'';background:#000;position:absolute;width:100%;height:100%;opacity:0.5;}
.tax-teams .team-flag{width:100%;position:absolute;top:50%;text-align:center;}
.tax-teams .team-flag img{width:90px;border-radius:4px;}
figure.promo-team-figure{max-width:90px;margin:0 10px;border-radius:4px;overflow:hidden;box-shadow:0 0 20px #777;}
.promo-creative-team:first-child .promo-team-title{margin-top:0px;margin-left:0;margin-right:10px;}
.game-result-team-name{font-size:20px;font-weight:700;}
.widget .promo-creative-details{padding:10px;}
.promo-creative-team{padding:;}
.post-type-archive-match .container{padding:0;}
.unit-spacing-lg .unit > *, .unit-spacing-lg .unit-vertical > *{margin-left:15px;}
.promo-creative-team{padding:0 5px;max-width:43%;}

/*Profile Card 1*/
.profile-card-1{position:relative;float:left;overflow:hidden;width:100%;color:#ffffff;text-align:center;height:368px;border:none;}
.profile-card-1 .background{width:100%;vertical-align:top;opacity:0.9;-webkit-filter:blur(5px);filter:blur(5px);-webkit-transform:scale(1.8);transform:scale(2.8);}
.profile-card-1 .card-content{width:100%;padding:15px 25px;position:absolute;left:0;top:50%;}
.profile-card-1 .profile{border-radius:50%;position:absolute;bottom:50%;left:50%;max-width:100px;opacity:1;box-shadow:3px 3px 20px rgba(0, 0, 0, 0.5);border:2px solid rgba(255, 255, 255, 1);-webkit-transform:translate(-50%, 0%);transform:translate(-50%, 0%);}
.profile-card-1 h2{margin:0 0 5px;font-weight:600;font-size:25px;}
.profile-card-1 h2 small{display:block;font-size:15px;margin-top:10px;}
.profile-card-1 i{display:inline-block;font-size:16px;color:#ffffff;text-align:center;border:1px solid #fff;width:30px;height:30px;line-height:30px;border-radius:50%;margin:0 5px;}
.profile-card-1 .icon-block{float:left;width:100%;margin-top:15px;}
.profile-card-1 .icon-block a{text-decoration:none;}
.profile-card-1 i:hover{background-color:#fff;color:#2E3434;text-decoration:none;}
.our-team-main{width:100%;height:auto;border-bottom:5px #323233 solid;background:#fff;text-align:center;border-radius:10px;overflow:hidden;position:relative;transition:0.5s;margin-bottom:28px;}
.our-team-main img{border-radius:50%;margin-bottom:20px;width:90px;}
.our-team-main h3{font-size:20px;font-weight:700;}
.our-team-main p{margin-bottom:0;}
.team-back{width:100%;height:auto;position:absolute;top:0;left:0;padding:5px 15px 0 15px;text-align:left;background:#fff;}
.team-front{width:100%;height:auto;position:relative;z-index:10;background:#fff;padding:15px;bottom:0px;transition:all 0.5s ease;}
.our-team-main:hover .team-front{bottom:-200px;transition:all 0.5s ease;}
.our-team-main:hover{border-color:#777;transition:0.5s;}
/*our-team-main*/
.team-icon{border-radius:100%;}
.panel{margin:0;padding:0;border-radius:0;}
.panel-heading{padding:1em;border-radius:0;}
.heading-component + *{margin-top:25px;}
.game-result{text-align:center;font-size:12px;font-weight:500;letter-spacing:0.05em;text-transform:uppercase;border:1px solid #e1e1e1;background:#fff;transition:all 300ms ease-in-out;}
/* @media all and (min-width:420px) */
.game-result{font-size:14px;}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl, .col-xxl-auto{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px;}
/* @media all and (min-width:992px) */
.col-lg-8{flex:0 0 66.66667%;max-width:66.66%;}
.row-50 > *{margin-bottom:50px;}
.row{display:flex;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
.row-50{margin-bottom:-50px;}
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
/* @media all and (min-width:576px) */
.container{max-width:540px;}
/* @media all and (min-width:768px) */
.container{max-width:720px;}
/* @media all and (min-width:992px) */
.container{max-width:960px;}
/* @media all and (min-width:1200px) */
.container{max-width:1140px;}
.section-sm, .section-md, .section-lg, .section-xl{padding:50px 0;}
/* @media all and (min-width:768px) */
.section-md{padding:70px 0;}
/* @media all and (min-width:992px) */
.section-md{padding:80px 0 90px;}
.bg-gray-100{background-color:#edeff4;}
.page{position:relative;overflow:hidden;min-height:100vh;}
.animated{animation-duration:1s;animation-fill-mode:both;opacity:1;}
.game-info{padding:30px 10px;}
.game-info-creative{padding-bottom:40px;}
/* @media all and (min-width:576px) */
.game-info{padding:46px 15px 60px;}
/* @media all and (min-width:576px) */
.game-info-countdown{position:relative;padding:15px 10px;background:#59646a;}
* + .game-info-countdown{margin-top:43px;}
/* @media all and (min-width:576px) */
.game-info-countdown{padding-top:24px;padding-bottom:24px;}
.countdown-bordered{display:inline-block;white-space:nowrap;margin-left:-14px;margin-right:-16px;font-size:16px;line-height:1;font-weight:500;letter-spacing:0.05em;text-transform:uppercase;}
/* @media all and (min-width:992px) */
.countdown-bordered{margin-left:-20px;margin-right:-22px;font-size:18px;}
.game-result .countdown-bordered{color:#919fa6;}
.countdown-bordered .countdown-section{display:inline-block;padding:0 16px 0 10px;text-align:center;}
/* @media all and (min-width:992px) */
.countdown-bordered .countdown-section{padding:0 22px 0 16px;}
.countdown-bordered:not(:first-child).countdown-section{border-left:1px solid #c6c6c6;}
.game-result .countdown-bordered:not(:first-child).countdown-section{border-left-color:#919fa6;}
.countdown-bordered .countdown-amount, .countdown-bordered .countdown-period{display:block;}
.countdown-bordered .countdown-amount{color:#151515;min-width:30px;padding-right:8px;}
/* @media all and (min-width:576px) */
.countdown-bordered .countdown-amount, .countdown-bordered .countdown-period{display:inline-block;}
/* @media all and (min-width:992px) */
.countdown-bordered .countdown-amount{min-width:34px;}
.game-result .countdown-bordered .countdown-amount{color:#fff;}
.h1, .h2, .h3, .h4, .h5, .h6{margin-bottom:0.5rem;font-weight:500;line-height:1.1;color:#151515;}
.h3{font-size:33px;}
.heading-3{font-size:24px;line-height:1.5;}
/* @media all and (min-width:1200px) */
.heading-3{font-size:33px;line-height:1.3333;}
.game-info-title{line-height:1.2;}
.game-info-main{display:inline-flex;flex-direction:row;flex-wrap:nowrap;align-items:center;justify-content:space-between;min-width:100%;max-width:100%;margin-top:24px;}
/* @media all and (min-width:1200px) */
.game-info-main{min-width:600px;}
.game-info-creative .game-info-main{align-items:stretch;}
.game-info-team{display:flex;flex-direction:column;justify-content:center;align-items:center;width:75px;}
.game-info-team{line-height:1.2;}
/* @media all and (min-width:400px) */
.game-info-team{width:150px;}
/* @media all and (min-width:576px) */
.game-info-team{width:199px;padding:10px 5px;border:1px solid #e1e1e1;}
/* @media all and (min-width:576px) */
.game-info-creative .game-info-team{min-height:195px;height:auto;}
.game-info-middle{flex-grow:1;margin:0 10px;}
.game-info-middle-vertical{display:flex;flex-direction:column;align-items:center;justify-content:center;padding:24px 0 0;max-width:130px;}
/* @media all and (min-width:576px) */
.game-info-middle{margin:0 17px;}
/* @media all and (min-width:576px) */
.game-info-middle-vertical{max-width:170px;padding-bottom:10px;}
.game-result-title, .game-result-team-name{color:#151515;}
* + .game-result-team-name{margin-top:12px;}
.game-results-subtitle, .game-results-status, .game-result-team-country{font-size:0.86em;}
.game-result-divider-wrap{overflow:hidden;width:100%;}
.time-big + .game-result-divider-wrap{margin-top:10px;}
* + .group-sm{margin-top:30px;}
html .group-sm{margin-bottom:-12px;margin-left:-12px;}
.game-info * + .group-sm{margin-top:12px;}
/* @media all and (min-width:576px) */
.game-info * + .group-sm{margin-top:20px;}
.ie-10 .game-info .group-sm, .ie-11 .game-info .group-sm, .ie-edge .game-info .group-sm{width:100%;}
.button{position:relative;overflow:hidden;display:inline-block;padding:14px 32px;font-size:14px;line-height:1.25;border:2px solid;font-weight:500;letter-spacing:0.02em;text-transform:uppercase;white-space:nowrap;text-overflow:ellipsis;text-align:center;cursor:pointer;vertical-align:middle;user-select:none;border-radius:4px;transition:.3s ease-out all;}
.button-sm{padding:9px 30px;font-size:12px;line-height:1.5;}
.button-xs, .button-sm, .button-lg{font-weight:600;}
html .button-share-outline{overflow:visible;transition-duration:0.15s;}
html .button-share-outline, html .button-share-outline:active, html .button-share-outline:focus{color:#151515;background-color:transparent;border-color:#151515;}
html .button-primary, html .button-primary:focus{color:#fff;background-color:#358d53;border-color:#358d53;}
html .group-sm > *{display:inline-block;margin-top:0px;margin-bottom:12px;margin-left:12px;}
.game-info .button{min-width:100px;padding-left:10px;padding-right:10px;}
/* @media all and (min-width:400px) */
.game-info .button{min-width:130px;padding-left:15px;padding-right:15px;}
html .button-share-outline:hover{color:#358d53;background-color:#358d53;border-color:#358d53;}
* + .button{margin-top:30px;}
.button + .button{margin-top:15px;}
.game-info .button + .button{margin-top:0px;}
.game-info-share{display:flex;flex-direction:row;align-items:stretch;justify-content:space-between;position:absolute;overflow:hidden;top:-2px;bottom:-2px;left:-2px;right:-2px;color:#fff;background-color:transparent;border-radius:3px;}
.game-info-share-item{flex-grow:1;flex-basis:25%;opacity:0;visibility:hidden;transform:translateY(200%);transition:all .3s ease;}
.button-share-outline:hover .game-info-share-item{opacity:1;visibility:visible;transform:translateY(0px);}
.button-share-outline:hover .game-info-share li:nth-child(1){transition-delay:100ms;}
.button-share-outline:hover .game-info-share li:nth-child(2){transition-delay:150ms;}
.button-share-outline:hover .game-info-share li:nth-child(3){transition-delay:200ms;}
.button-share-outline:hover .game-info-share li:nth-child(4){transition-delay:250ms;}
.fa{display:inline-block;font-family:"FontAwesome";font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon{display:inline-block;line-height:1;}
.game-info-share .icon{display:block;font-size:12px;line-height:50px;}
.game-info-share .icon, .game-info-share .icon:focus, .game-info-share .icon:active{color:#fff;}
/* @media all and (min-width:768px) */
.game-info-share .icon{font-size:14px;}
:last-child.game-info-share-item > a{border-top-right-radius:3px;border-bottom-right-radius:3px;}
a:hover{color:#0056b3;text-decoration:underline;}
.game-info-share .icon:hover{color:#FFF;text-decoration: none}
.game-info-share .icon:hover{background:#2f2f2f;}
:first-child.game-info-share-item > a{border-top-left-radius:3px;border-bottom-left-radius:3px;}
.game-result-team-divider, .game-info-team-divider{height:24px;width:24px;font-size:0.86em;line-height:24px;border-radius:50%;border:1px solid #e1e1e1;background:transparent;}
/* @media all and (min-width:576px) */
.game-result-team-divider, .game-info-team-divider{height:29px;width:29px;line-height:29px;}
.game-info-team-divider{position:relative;display:inline-block;color:#358d53;}
.time-big span{display:block;line-height:1;color:#358d53;}
.heading-component + *{margin-top:25px;}
.game-highlights{padding:30px 15px;font-size:16px;line-height:1.2;font-weight:500;letter-spacing:0.05em;color:#151515;background:#fff;}
/* @media all and (min-width:576px) */
.game-highlights{padding:40px 15px 40px 24px;}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl, .col-xxl-auto{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px;}
/* @media all and (min-width:992px) */
.col-lg-5{flex:0 0 41.66667%;max-width:41.66%;}
/* @media all and (min-width:1200px) */
.col-xl-4{flex:0 0 33.33333%;max-width:33.33%;}
.row-50 > *{margin-bottom:50px;}
.row{display:flex;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
.row-50{margin-bottom:-50px;}
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
/* @media all and (min-width:576px) */
.container{max-width:540px;}
/* @media all and (min-width:768px) */
.container{max-width:720px;}
/* @media all and (min-width:992px) */
.container{max-width:960px;}
/* @media all and (min-width:1200px) */
.container{max-width:1140px;}
.section-sm, .section-md, .section-lg, .section-xl{padding:50px 0;}
/* @media all and (min-width:768px) */
.section-sm{padding:60px 0;}
.bg-gray-100{background-color:#edeff4;}
.bg-gray-100 + .bg-gray-100{padding-top:0px;}
.page{position:relative;overflow:hidden;min-height:100vh;}
.animated{animation-duration:1s;animation-fill-mode:both;opacity:1;}
.game-highlights li{position:relative;overflow:hidden;padding-left:45px;padding-bottom:37px;}
.game-highlights li:first-child{padding-top:10px;}
.game-highlights li:last-child{padding-bottom:0px;}
.game-highlights-title{padding-top:7px;text-transform:uppercase;}
.game-highlights-description{font-family:"Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;font-weight:400;color:#9b9b9b;}
/* @media all and (min-width:576px) */
.game-highlights-description{max-width:90%;}
.game-highlights p + p{margin-top:10px;}
.game-highlights-minute{position:absolute;display:inline-block;top:0px;left:0px;text-align:center;height:29px;width:29px;line-height:29px;border:1px solid #e1e1e1;border-radius:50%;}
.fa{display:inline-block;font-family:"FontAwesome";font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon{display:inline-block;line-height:1;}
.icon-primary{color:#358d53;}
.icon-blue-boston{color:#3b7cc0;}
.icon-red-2{color:#ff4c39;}
.icon-orange{color:#ffa04c;}
.icon-orange-dark{color:#ff8432;}
.icon-xxs{font-size:13px;}
.game-highlights .icon{margin-right:5px;}
.text-gray-500{color:#9b9b9b;}
.game-highlights-goal{color:#9b9b9b;}
.team2-blue .game-highlights-goal{color:#3b7cc0;}
.team-primary .game-highlights-goal{color:#358d53;}
.game-highlights li:first-child .game-highlights-minute{top:10px;}
/*experiment 5*/
.heading-component + *{margin-top:25px;}
.promo-creative{text-align:center;font-size:12px;font-weight:500;letter-spacing:0.05em;text-transform:uppercase;}
/* @media all and (min-width:420px) */
.promo-creative, .promo{font-size:14px;}
/* @media all and (min-width:768px) */
.promo-creative{text-align:center;}
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
/* @media all and (min-width:576px) */
.container{max-width:540px;}
/* @media all and (min-width:768px) */
.container{max-width:720px;}
/* @media all and (min-width:992px) */
.container{max-width:960px;}
/* @media all and (min-width:1200px) */
.container{max-width:1140px;}
.section-sm, .section-md, .section-lg, .section-xl{padding:50px 0;}
/* @media all and (min-width:768px) */
.section-sm{padding:60px 0;}
.bg-gray-100{background-color:#edeff4;}
.bg-gray-100 + .bg-gray-100{padding-top:0px;}
.page{position:relative;overflow:hidden;min-height:100vh;opacity:0;}
.animated{animation-duration:1s;animation-fill-mode:both;opacity:1;}
.align-items-center{align-items:center !important;}
/* @media all and (min-width:768px) */
.align-items-md-stretch{align-items:stretch !important;}
.unit{display:-ms-flexbox;display:-webkit-flex;display:flex;-ms-flex:0 1 100%;-webkit-flex:0 1 100%;flex:0 1 100%;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
.unit, .unit-vertical{-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;margin-bottom:-30px;margin-left:-20px;}
/* @media all and (min-width:768px) */
.unit-md-horizontal{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;}
.unit-spacing-lg .unit{display:-ms-flexbox;display:-webkit-flex;display:flex;-ms-flex:0 1 100%;-webkit-flex:0 1 100%;flex:0 1 100%;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
.unit-spacing-lg .unit, .unit-spacing-lg .unit-vertical{-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;margin-bottom:-30px;margin-left:-30px;}
/* @media all and (min-width:768px) */
.unit-spacing-lg .unit-md-horizontal{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;}
.unit-body{-ms-flex:0 1 auto;-webkit-flex:0 1 auto;flex:0 1 auto;}
.unit-left, .unit-right{-ms-flex:0 0 auto;-webkit-flex:0 0 auto;flex:0 0 auto;max-width:100%;}
.unit > *, .unit-vertical > *{display:inline-block;margin-top:0px;margin-bottom:30px;margin-left:20px;}
.unit-spacing-lg .unit-body{-ms-flex:0 1 auto;-webkit-flex:0 1 auto;flex:0 1 auto;}
.unit-spacing-lg .unit-left, .unit-spacing-lg .unit-right{-ms-flex:0 0 auto;-webkit-flex:0 0 auto;flex:0 0 auto;max-width:100%;}
.unit-spacing-lg .unit > *, .unit-spacing-lg .unit-vertical > *{display:inline-block;margin-top:0px;margin-bottom:30px;margin-left:30px;}
.promo-creative .unit-body{display:flex;flex-direction:column;flex-basis:30%;max-width:357px;}
/* @media all and (min-width:768px) */
.promo-creative .unit-body{max-width:100%;}
/* @media all and (min-width:1200px) */
.promo-creative .unit-body{flex-direction:row;flex-basis:auto;}
.promo-creative .unit-right{flex-grow:1;flex-basis:55%;}
.promo-creative-details{position:relative;padding:24px 15px;min-height:100%;background:#fff;border:1px solid #e1e1e1;}
/* @media all and (min-width:576px) */
.promo-creative-details{padding-left:30px;padding-right:30px;}
/* @media all and (min-width:1200px) */
.promo-creative-details{padding-left:40px;padding-right:40px;}
.h1, .h2, .h3, .h4, .h5, .h6{margin-bottom:0.5rem;font-weight:500;line-height:1.1;color:#151515;}
.h3{font-size:33px;}
.heading-3{font-size:24px;line-height:1.5;}
/* @media all and (min-width:1200px) */
.heading-3{font-size:33px;line-height:1.3333;}
.promo-creative-title{line-height:1.1;}
* + .promo-creative-location{margin-top:3px;}
* + .promo-creative-countdown{margin-top:15px;}
.promo-main{display:flex;align-items:center;justify-content:space-between;}
.promo-creative-main{max-width:488px;}
* + .promo-creative-main{margin:0 auto;margin-top:20px;}
.promo-creative-tickets{margin-bottom:-10px;margin-left:-10px;}
* + .promo-creative-tickets{margin-top:18px;}
.text-nowrap{white-space:nowrap !important;}
.promo-creative-tickets > *{display:inline-block;margin-top:0px;margin-bottom:10px;margin-left:10px;}
.promo-creative-tickets > *{vertical-align:middle;}
.promo-buttons{position:relative;display:inline-block;}
.promo-creative-tickets-description{font-weight:400;color:#151515;text-transform:capitalize;}
/* @media all and (min-width:992px) */
.promo-creative-tickets-description{margin-left:13px;}
/* @media all and (min-width:992px) */
.promo-buttons + p{margin-top:0px;}
.promo-creative-tickets-number{display:inline-block;text-align:center;margin:0 3px;width:29px;height:29px;line-height:29px;font-weight:500;color:#fff;background-color:#358d53;border-radius:50%;}
.button{position:relative;overflow:hidden;display:inline-block;padding:14px 32px;font-size:14px;line-height:1.25;border:2px solid;font-weight:500;letter-spacing:0.02em;text-transform:uppercase;white-space:nowrap;text-overflow:ellipsis;text-align:center;cursor:pointer;vertical-align:middle;user-select:none;border-radius:4px;transition:.3s ease-out all;}
.promo-buttons > *{display:inline-block;vertical-align:middle;}
.promo-button{display:inline-block;width:50px;height:50px;line-height:50px;text-align:center;color:#151515;background-color:#fcef57;border-radius:3px;cursor:pointer;}
.fl-bigmug-line-ico, [class^='fl-bigmug-line-']::before, [class*=' fl-bigmug-line-']::before, [class^='fl-bigmug-line-']::after, [class*=' fl-bigmug-line-']::after{font-family:"fl-bigmug-line";font-size:inherit;font-weight:400;font-style:normal;}
* + .button{margin-top:30px;}
html .button-primary, html .button-primary:focus{color:#fff;background-color:#358d53;border-color:#358d53;}
.promo-creative-tickets * + .button{margin-top:0px;}
.promo-buttons .button{min-width:194px;letter-spacing:0.1em;}
.promo-button + .button{margin-top:0px;margin-left:10px;}
.promo-share-list{position:absolute;top:0px;bottom:0px;left:40px;right:0px;display:flex;flex-direction:row;align-items:center;justify-content:space-between;padding:5px 20px 5px 5px;background-color:#fcef57;border-radius:3px;opacity:0;visibility:hidden;transform-origin:0px 0px 0px;cursor:auto;transition:.3s ease-out all;transition-delay:0.2s;z-index:1;}
.promo-share-item{font-size:12px;line-height:1;font-weight:500;letter-spacing:0.05em;text-transform:uppercase;color:#151515;transform:translateX(-5px);opacity:0;visibility:hidden;transition:.3s ease-out all;transition-delay:0.4s;}
:first-child.promo-share-item{margin-right:12px;}
.fa{display:inline-block;font-family:"FontAwesome";font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.mdi{display:inline-block;font:normal normal normal 24px/1 "Material Design Icons";font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0px, 0px);}
.icon{display:inline-block;line-height:1;}
.promo-share-item .icon{font-size:15px;transition:.3s ease-out all;}
.promo-share-item .icon, .promo-share-item .icon:focus, .promo-share-item .icon:active{color:#151515;}
.promo-team{line-height:1.2;flex-grow:1;}
.promo-creative-team{display:flex;flex-direction:column;align-items:center;justify-content:center;height:90px;border:1px solid #d7d7d7;}
/* @media all and (min-width:576px) */
.promo-creative-team{flex-direction:row;height:74px;}
.promo-creative-middle{text-align:center;font-size:14px;letter-spacing:0.1em;color:#151515;min-width:54px;}
.promo-team-title{margin-top:6px;}
/* @media all and (min-width:576px) */
.promo-team-title{margin-top:0px;margin-left:10px;}
.promo-team-name{color:#151515;}
.promo-team-country{font-size:0.86em;}
.countdown-bordered{display:inline-block;white-space:nowrap;margin-left:-14px;margin-right:-16px;font-size:16px;line-height:1;font-weight:500;letter-spacing:0.05em;text-transform:uppercase;}
/* @media all and (min-width:992px) */
.countdown-bordered{margin-left:-20px;margin-right:-22px;font-size:18px;}
.countdown-bordered .countdown-section{display:inline-block;padding:0 16px 0 10px;text-align:center;}
/* @media all and (min-width:992px) */
.countdown-bordered .countdown-section{padding:0 22px 0 16px;}
.countdown-bordered:not(:first-child).countdown-section{border-left:1px solid #c6c6c6;}
.countdown-bordered .countdown-amount, .countdown-bordered .countdown-period{display:block;}
.countdown-bordered .countdown-amount{color:#151515;min-width:30px;padding-right:8px;}
/* @media all and (min-width:576px) */
.countdown-bordered .countdown-amount, .countdown-bordered .countdown-period{display:inline-block;}
/* @media all and (min-width:992px) */
.countdown-bordered .countdown-amount{min-width:34px;}
.icon-gray-800{color:#151515;}
.promo-creative-location .icon{font-size:14px;margin-right:5px;}
.promo-creative-meta{display:flex;align-items:center;justify-content:space-between;}
/* @media all and (min-width:1200px) */
.promo-creative-meta{flex-direction:column;justify-content:flex-start;}
.promo-creative-figure{margin-top:10px;}
/* @media all and (min-width:1200px) */
.promo-creative-figure{margin-left:27px;margin-top:0px;}
.promo-creative-meta-description{margin-left:7px;color:#151515;}
/* @media all and (min-width:1200px) */
.promo-creative-meta-description{margin-top:10px;}
.promo-creative-meta-description > *{display:block;}
.promo-creative-meta-description > *{line-height:1.3;}
html .page .text-primary{color:#358d53;}
.heading-1{font-size:32px;line-height:1.3;}
/* @media all and (min-width:768px) */
.heading-1{font-size:40px;line-height:1.15;}
/* @media all and (min-width:1200px) */
.heading-1{font-size:60px;line-height:1.1666;}
/* @media all and (min-width:1200px) */
.heading-5{font-size:18px;line-height:1.2222;}
.promo-creative-time > *{line-height:1;}
.heading-4, .heading-5, .heading-6{letter-spacing:0.02em;}
.heading-5{font-size:18px;line-height:1.35;}
.promo-creative-time span + span{margin-left:-3px;}
/*experimental 6*/



* + .table-custom-responsive {
  margin-top: 25px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl, .col-xxl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
/* @media all and (min-width:992px) */
.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
/* @media all and (min-width:1200px) */
.col-xl-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33%;
}
.row-50 > * {
  margin-bottom: 50px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.row-50 {
  margin-bottom: -50px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* @media all and (min-width:576px) */
.container {
  max-width: 540px;
}
/* @media all and (min-width:768px) */
.container {
  max-width: 720px;
}
/* @media all and (min-width:992px) */
.container {
  max-width: 960px;
}
/* @media all and (min-width:1200px) */
.container {
  max-width: 1140px;
}
/* @media all and (min-width:1600px) */
.container {
  max-width: 1200px;
}
.section-sm, .section-md, .section-lg, .section-xl {
  padding: 50px 0;
}
/* @media all and (min-width:768px) */
.section-sm {
  padding: 60px 0;
}
.bg-gray-100 {
  background-color: #edeff4;
}
.page {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  opacity: 0;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 1;
}


.table-custom {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  border-collapse: collapse;
  border: 1px solid #ddd;
  background: #fff;
}
.table-standings {
  font-size: 14px;
  letter-spacing: 0.1em;
}
.table-standings tr {
  transition: all 200ms ease-in-out;
}
.table-standings tr + tr {
  border-top: 1px solid #ddd;
}
.player-inline, .team-inline {
  display: flex;
  align-items: center;
}
.table-standings td {
  padding: 5px;

  font-weight: 400;
  color: #151515;
}
.table-standings tbody td:first-child {
  width: 11%;
  padding-left: 20px;
  font-size: 16px;
}
.table-modern tbody td:first-child {
  width: 18%;
}
.table-standings td:nth-child(n+3) {
  width: 14%;
}
.player-title, .team-title {
  text-align: left;
  line-height: 1.15;
  font-weight: 500;
  letter-spacing: 0.05em;
}
.player-title {
  margin-left: 4px;
}
.player-country, .team-country {
  font-size: 12px;
  color: #9b9b9b;
}
.table-counter {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 38px;
  height: 29px;
  line-height: 29px;
  z-index: 1;
  transition: all 200ms ease-in-out;
}
.table-modern tr:hover {
  background: #f5f7f9;
}
th {
  text-align: inherit;
}
.table-standings th {
  padding: 12px 10px;
  text-align: center;
  font-weight: 500;
  color: #fff;
  background: #358d53;
}
.table-standings th:first-child {
  text-align: left;
}
.table-standings thead th:first-child {
  padding-left: 22px;
}
.table-standings tr, .table-standings tr:nth-child(odd) td{background: #FFF;}