



/*Profile Card 1*/
.profile-card-1 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  color: #ffffff;
  text-align: center;
  height:368px;
  border:none;
}
.profile-card-1 .background {
  width:100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(5px);
  filter: blur(5px);
   -webkit-transform: scale(1.8);
  transform: scale(2.8);
}
.profile-card-1 .card-content {
  width: 100%;
  padding: 15px 25px;
  position: absolute;
  left: 0;
  top: 50%;
}
.profile-card-1 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.profile-card-1 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:25px;
}
.profile-card-1 h2 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile-card-1 i {
  display: inline-block;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-1 .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.profile-card-1 .icon-block a{
    text-decoration:none;
}
.profile-card-1 i:hover {
  background-color:#fff;
  color:#2E3434;
  text-decoration:none;
}




.our-team-main
{
	width:100%;
	height:auto;
	border-bottom:5px #323233 solid;
	background:#fff;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
	margin-bottom:28px;
}


.our-team-main img
{
	border-radius:50%;
	margin-bottom:20px;
	width: 90px;
}

.our-team-main h3
{
	font-size:20px;
	font-weight:700;
}

.our-team-main p
{
	margin-bottom:0;
}

.team-back
{
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	padding:5px 15px 0 15px;
	text-align:left;
	background:#fff;
	
}

.team-front
{
	width:100%;
	height:auto;
	position:relative;
	z-index:10;
	background:#fff;
	padding:15px;
	bottom:0px;
	transition: all 0.5s ease;
}

.our-team-main:hover .team-front
{
	bottom:-200px;
	transition: all 0.5s ease;
}

.our-team-main:hover
{
	border-color:#777;
	transition:0.5s;
}

/*our-team-main*/













.team-icon {
    border-radius:100%;
}

.panel {
    margin:0;
    padding:0;
    border-radius:0;
    
}

.panel-heading {
    padding:1em;
    border-radius:0;
    }




















    *, *::before, *::after {
  box-sizing: border-box;
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}
.heading-component + * {
  margin-top: 25px;
}
.game-result {
  text-align: center;
  font-family: "Kanit",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid #e1e1e1;
  background: #fff;
  transition: all 300ms ease-in-out;
}
/* @media all and (min-width:420px) */
.game-result {
  font-size: 14px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl, .col-xxl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
/* @media all and (min-width:992px) */
.col-lg-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66%;
}
.row-50 > * {
  margin-bottom: 50px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.row-50 {
  margin-bottom: -50px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* @media all and (min-width:576px) */
.container {
  max-width: 540px;
}
/* @media all and (min-width:768px) */
.container {
  max-width: 720px;
}
/* @media all and (min-width:992px) */
.container {
  max-width: 960px;
}
/* @media all and (min-width:1200px) */
.container {
  max-width: 1140px;
}
.section-sm, .section-md, .section-lg, .section-xl {
  padding: 50px 0;
}
/* @media all and (min-width:768px) */
.section-md {
  padding: 70px 0;
}
/* @media all and (min-width:992px) */
.section-md {
  padding: 80px 0 90px;
}
.bg-gray-100 {
  background-color: #edeff4;
}
.page {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  opacity: 0;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 1;
}
body {
  margin: 0;
  font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142;
  color: #9b9b9b;
  text-align: left;
  background-color: #fff;
}
body {
  display: block;
  font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 14px;
  line-height: 1.7142;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #9b9b9b;
  background-color: #fff;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --blue:  #007bff;
  --indigo:  #6610f2;
  --purple:  #6f42c1;
  --pink:  #e83e8c;
  --red:  #dc3545;
  --orange:  #fd7e14;
  --yellow:  #ffc107;
  --green:  #28a745;
  --teal:  #20c997;
  --cyan:  #17a2b8;
  --white:  #fff;
  --gray:  #868e96;
  --gray-dark:  #343a40;
  --breakpoint-xs:  0;
  --breakpoint-sm:  576px;
  --breakpoint-md:  768px;
  --breakpoint-lg:  992px;
  --breakpoint-xl:  1200px;
  --breakpoint-xxl:  1600px;
  --font-family-sans-serif:  "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.game-info {
  padding: 30px 10px;
}
.game-info-creative {
  padding-bottom: 0px;
}
/* @media all and (min-width:576px) */
.game-info {
  padding: 46px 15px 60px;
}
/* @media all and (min-width:576px) */
.game-info-creative {
  padding-bottom: 0px;
}
.game-info-countdown {
  position: relative;
  padding: 15px 10px;
  background: #59646a;
}
* + .game-info-countdown {
  margin-top: 43px;
}
/* @media all and (min-width:576px) */
.game-info-countdown {
  padding-top: 24px;
  padding-bottom: 24px;
}
.countdown-bordered {
  display: inline-block;
  white-space: nowrap;
  margin-left: -14px;
  margin-right: -16px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
/* @media all and (min-width:992px) */
.countdown-bordered {
  margin-left: -20px;
  margin-right: -22px;
  font-size: 18px;
}
.game-result .countdown-bordered {
  color: #919fa6;
}
.countdown-bordered .countdown-section {
  display: inline-block;
  padding: 0 16px 0 10px;
  text-align: center;
}
/* @media all and (min-width:992px) */
.countdown-bordered .countdown-section {
  padding: 0 22px 0 16px;
}
.countdown-bordered :not(:first-child).countdown-section {
  border-left: 1px solid #c6c6c6;
}
.game-result .countdown-bordered :not(:first-child).countdown-section {
  border-left-color: #919fa6;
}
.countdown-bordered .countdown-amount, .countdown-bordered .countdown-period {
  display: block;
}
.countdown-bordered .countdown-amount {
  color: #151515;
  min-width: 30px;
  padding-right: 8px;
}
/* @media all and (min-width:576px) */
.countdown-bordered .countdown-amount, .countdown-bordered .countdown-period {
  display: inline-block;
}
/* @media all and (min-width:992px) */
.countdown-bordered .countdown-amount {
  min-width: 34px;
}
.game-result .countdown-bordered .countdown-amount {
  color: #fff;
}
p {
  margin-top: 0px;
  margin-bottom: 1rem;
}
p {
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0.5rem;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: "Kanit",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #151515;
}
h3, .h3 {
  font-size: 33px;
}
h1, h2, h3, h4, h5, h6, [class*='heading-'] {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Kanit",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #151515;
  text-transform: uppercase;
}
h3, .heading-3 {
  font-size: 24px;
  line-height: 1.5;
}
/* @media all and (min-width:1200px) */
h3, .heading-3 {
  font-size: 33px;
  line-height: 1.3333;
}
.game-info-title {
  line-height: 1.2;
}
.game-info-main {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  max-width: 100%;
  margin-top: 24px;
}
/* @media all and (min-width:1200px) */
.game-info-main {
  min-width: 600px;
}
.game-info-creative .game-info-main {
  align-items: stretch;
}
.game-info-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75px;
}
.game-info-team {
  line-height: 1.2;
}
/* @media all and (min-width:400px) */
.game-info-team {
  width: 150px;
}
/* @media all and (min-width:576px) */
.game-info-team {
  width: 199px;
  padding: 10px 5px;
  border: 1px solid #e1e1e1;
}
/* @media all and (min-width:576px) */
.game-info-creative .game-info-team {
  min-height: 195px;
  height: auto;
}
.game-info-middle {
  flex-grow: 1;
  margin: 0 10px;
}
.game-info-middle-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 0 0;
  max-width: 130px;
}
/* @media all and (min-width:576px) */
.game-info-middle {
  margin: 0 17px;
}
/* @media all and (min-width:576px) */
.game-info-middle-vertical {
  max-width: 170px;
  padding-bottom: 10px;
}
figure {
  margin: 0 0 1rem;
}
figure {
  margin-bottom: 0px;
}
.game-result-title, .game-result-team-name {
  color: #151515;
}
* + .game-result-team-name {
  margin-top: 12px;
}
.game-results-subtitle, .game-results-status, .game-result-team-country {
  font-size: 0.86em;
}
img {
  vertical-align: middle;
  border-style: none;
}
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.game-result-divider-wrap {
  overflow: hidden;
  width: 100%;
}
.time-big + .game-result-divider-wrap {
  margin-top: 10px;
}
* + .group-sm {
  margin-top: 30px;
}
html .group-sm {
  margin-bottom: -12px;
  margin-left: -12px;
}
.game-info * + .group-sm {
  margin-top: 12px;
}
/* @media all and (min-width:576px) */
.game-info * + .group-sm {
  margin-top: 20px;
}
.ie-10 .game-info .group-sm, .ie-11 .game-info .group-sm, .ie-edge .game-info .group-sm {
  width: 100%;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a, area, button, [role='button'], input:not([type='range']), label, select, summary, textarea {
  touch-action: manipulation;
}
a {
  transition: all 0.3s ease-in-out;
}
a:focus, button:focus {
  outline: none !important;
}
a, a:focus, a:active, a:hover {
  text-decoration: none;
}
a, a:focus, a:active {
  color: #35ad79;
}
.button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 14px 32px;
  font-size: 14px;
  line-height: 1.25;
  border: 2px solid;
  font-family: "Kanit",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  border-radius: 4px;
  transition: .3s ease-out all;
}
.button-sm {
  padding: 9px 30px;
  font-size: 12px;
  line-height: 1.5;
}
.button-xs, .button-sm, .button-lg {
  font-weight: 600;
}
html .button-share-outline {
  overflow: visible;
  transition-duration: 0.15s;
}
html .button-share-outline, html .button-share-outline:active, html .button-share-outline:focus {
  color: #151515;
  background-color: transparent;
  border-color: #151515;
}
html .button-primary, html .button-primary:focus {
  color: #fff;
  background-color: #35ad79;
  border-color: #35ad79;
}
html .group-sm > * {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 12px;
  margin-left: 12px;
}
.game-info .button {
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
}
/* @media all and (min-width:400px) */
.game-info .button {
  min-width: 130px;
  padding-left: 15px;
  padding-right: 15px;
}
html .button-share-outline:hover {
  color: #35ad79;
  background-color: #35ad79;
  border-color: #35ad79;
}
* + .button {
  margin-top: 30px;
}
.button + .button {
  margin-top: 15px;
}
.game-info .button + .button {
  margin-top: 0px;
}
ol, ul, dl {
  margin-top: 0px;
  margin-bottom: 1rem;
}
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.game-info-share {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  position: absolute;
  overflow: hidden;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  color: #fff;
  background-color: transparent;
  border-radius: 3px;
}
ul li, ol li {
  display: block;
}
.game-info-share-item {
  flex-grow: 1;
  flex-basis: 25%;
  opacity: 0;
  visibility: hidden;
  transform: translateY(200%);
  transition: all .3s ease;
}
.button-share-outline:hover .game-info-share-item {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.button-share-outline:hover .game-info-share li:nth-child(1) {
  transition-delay: 100ms;
}
.button-share-outline:hover .game-info-share li:nth-child(2) {
  transition-delay: 150ms;
}
.button-share-outline:hover .game-info-share li:nth-child(3) {
  transition-delay: 200ms;
}
.button-share-outline:hover .game-info-share li:nth-child(4) {
  transition-delay: 250ms;
}
.fa {
  display: inline-block;
  font-family: "FontAwesome";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:focus {
  outline: none;
}
.icon {
  display: inline-block;
  line-height: 1;
}
a:hover {
  color: #237250;
}
.game-info-share .icon {
  display: block;
  font-size: 12px;
  line-height: 40px;
}
.game-info-share .icon, .game-info-share .icon:focus, .game-info-share .icon:active {
  color: #fff;
}
/* @media all and (min-width:768px) */
.game-info-share .icon {
  font-size: 14px;
}
:last-child.game-info-share-item > a {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
.game-info-share .icon:hover {
  color: #151515;
}
.game-info-share .icon:hover {
  background: #fcef57;
}
:first-child.game-info-share-item > a {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.game-result-team-divider, .game-info-team-divider {
  height: 24px;
  width: 24px;
  font-size: 0.86em;
  line-height: 24px;
  border-radius: 50%;
  border: 1px solid #e1e1e1;
  background: transparent;
}
/* @media all and (min-width:576px) */
.game-result-team-divider, .game-info-team-divider {
  height: 29px;
  width: 29px;
  line-height: 29px;
}
.game-info-team-divider {
  position: relative;
  display: inline-block;
  color: #35ad79;
}
.time-big span {
  display: block;
  line-height: 1;
  color: #35ad79;
}





















































*, *::before, *::after {
  box-sizing: border-box;
}
.heading-component + * {
  margin-top: 25px;
}
.game-highlights {
  padding: 30px 15px;
  font-family: "Kanit",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #151515;
  background: #fff;
}
/* @media all and (min-width:576px) */
.game-highlights {
  padding: 40px 15px 40px 24px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl, .col-xxl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
/* @media all and (min-width:992px) */
.col-lg-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66%;
}
/* @media all and (min-width:1200px) */
.col-xl-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33%;
}
.row-50 > * {
  margin-bottom: 50px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.row-50 {
  margin-bottom: -50px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* @media all and (min-width:576px) */
.container {
  max-width: 540px;
}
/* @media all and (min-width:768px) */
.container {
  max-width: 720px;
}
/* @media all and (min-width:992px) */
.container {
  max-width: 960px;
}
/* @media all and (min-width:1200px) */
.container {
  max-width: 1140px;
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}
.section-sm, .section-md, .section-lg, .section-xl {
  padding: 50px 0;
}
/* @media all and (min-width:768px) */
.section-sm {
  padding: 60px 0;
}
.bg-gray-100 {
  background-color: #edeff4;
}
.bg-gray-100 + .bg-gray-100 {
  padding-top: 0px;
}
.page {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  opacity: 0;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 1;
}
body {
  margin: 0;
  font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142;
  color: #9b9b9b;
  text-align: left;
  background-color: #fff;
}
body {
  display: block;
  font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 14px;
  line-height: 1.7142;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #9b9b9b;
  background-color: #fff;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --blue:  #007bff;
  --indigo:  #6610f2;
  --purple:  #6f42c1;
  --pink:  #e83e8c;
  --red:  #dc3545;
  --orange:  #fd7e14;
  --yellow:  #ffc107;
  --green:  #28a745;
  --teal:  #20c997;
  --cyan:  #17a2b8;
  --white:  #fff;
  --gray:  #868e96;
  --gray-dark:  #343a40;
  --breakpoint-xs:  0;
  --breakpoint-sm:  576px;
  --breakpoint-md:  768px;
  --breakpoint-lg:  992px;
  --breakpoint-xl:  1200px;
  --breakpoint-xxl:  1600px;
  --font-family-sans-serif:  "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
ol, ul, dl {
  margin-top: 0px;
  margin-bottom: 1rem;
}
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li, ol li {
  display: block;
}
.game-highlights li {
  position: relative;
  overflow: hidden;
  padding-left: 45px;
  padding-bottom: 37px;
}
.game-highlights li:first-child {
  padding-top: 10px;
}
.game-highlights li:last-child {
  padding-bottom: 0px;
}
p {
  margin-top: 0px;
  margin-bottom: 1rem;
}
p {
  margin: 0;
}
.game-highlights-title {
  padding-top: 7px;
  text-transform: uppercase;
}
* + p {
  margin-top: 15px;
}
p + p {
  margin-top: 12px;
}
.game-highlights-description {
  font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 400;
  color: #9b9b9b;
}
/* @media all and (min-width:576px) */
.game-highlights-description {
  max-width: 90%;
}
.game-highlights p + p {
  margin-top: 10px;
}
.game-highlights-minute {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 0px;
  text-align: center;
  height: 29px;
  width: 29px;
  line-height: 29px;
  border: 1px solid #e1e1e1;
  border-radius: 50%;
}
.fa {
  display: inline-block;
  font-family: "FontAwesome";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon {
  display: inline-block;
  line-height: 1;
}
.icon-primary {
  color: #35ad79;
}
.icon-blue-boston {
  color: #3b7cc0;
}
.icon-red-2 {
  color: #ff4c39;
}
.icon-orange {
  color: #ffa04c;
}
.icon-orange-dark {
  color: #ff8432;
}
.icon-xxs {
  font-size: 13px;
}
.game-highlights .icon {
  margin-right: 5px;
}
.text-gray-500 {
  color: #9b9b9b;
}
.game-highlights-goal {
  color: #9b9b9b;
}
.team2-blue .game-highlights-goal {
  color: #3b7cc0;
}
.team-primary .game-highlights-goal {
  color: #35ad79;
}
.game-highlights li:first-child .game-highlights-minute {
  top: 10px;
}