@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/**
colors needed

orange f2994a
green  6fcf97

**/
body{font-family: 'Roboto', sans-serif;font-size:18px;color:#acacac;}

.h1, #top-element .card-title{color:#252624;}

nav.navbar-findcond { background: #fff; border-color: #ccc; box-shadow: 0 0 2px 0 #ccc; }
nav.navbar-findcond a { color: #252624; }
nav.navbar-findcond ul.navbar-nav a { color: #CCC; border-style: solid; border-width: 0 0 2px 0; border-color: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover{color:#f14444;}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    line-height: 20px;
}
nav.navbar-findcond ul.navbar-nav a:hover,
nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active { background: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover { border-color: #f14444; }
nav.navbar-findcond li.divider { background: #ccc; }
nav.navbar-findcond button.navbar-toggle { background: #f14444; border-radius: 2px; }
nav.navbar-findcond button.navbar-toggle:hover { background: #999; }
nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #fff; }
nav.navbar-findcond ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
nav.navbar-findcond ul.dropdown-menu > li > a { color: #444; }
nav.navbar-findcond ul.dropdown-menu > li > a:hover { background: #f14444; color: #fff; }
nav.navbar-findcond span.badge { background: #f14444; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.navbar-findcond span.badge.new { background: rgba(255, 0, 0, 0.8); color: #fff; }






#top-element{padding:250px 0 200px 0;background: url("../images/landing/landing-background.png")no-repeat top center;background-size: 1920px;    background-position: center -100px;}
#top-element .h1{font-weight: 700;font-size:60px;}
#top-element .h5{font-size:30px;color:#ccc;margin-top:30px;}
#top-element .card-title{margin-top:15px;}
#top-element .logo{overflow: hidden;max-width: 100%;height:60px;}
#top-element .logo img{;max-width: 100%;}
#top-element .container{margin-top:-150px;}
#top-element .container-fluid{margin-top:70px;}
#top-element .row > div{  padding:0 0 70px 0;  box-shadow: inset 0 0 0 1000px #FFF; border: 10px solid transparent;}
#top-element .card{padding:20px;}
.bet-now{font-size:20px;font-weight:600;text-transform: uppercase; color:#FFF;   left: 0; bottom: 20px; width: 84%; margin: 0 8%; position: absolute; padding: 10px; background: #f2994a; box-sizing: border-box; text-align: center;}
#bonus-list .bet-now{position: relative;top:0;}

#good-bonus{margin-top:-150px;max-width: 900px;}
section{max-width:;padding:20px 0;}
.section-title{font-size:50px;text-align:center;color:#252624;margin-bottom:50px;font-weight: 700;}
#what-we-do .card-block{    line-height: 30px;   background: #FFF url("../images/landing/dollar-sign.png")no-repeat bottom center; padding:50px;text-align: center;font-size:20px;font-weight: 700;height:200px;    vertical-align: middle;
    display: table-cell;box-shadow: 0 0 50px #CCC;}
#good-bonus .row > div{padding:20px;}
#what-we-do .row > div:nth-child(3){}
#what-we-do .row > div:nth-child(2) .card-block{background: #FFF url("../images/landing/file-alt.png")no-repeat bottom center;}
#what-we-do .row > div:nth-child(3) .card-block{background: #FFF url("../images/landing/clock.png")no-repeat bottom center;}
#what-we-do .row > div .card-block:hover{background-color: #6fcf97;color:#FFF;}





#bonus-list{}
#bonus-list .list-group-item-text{}
#bonus-list .card{width:100%;float:left;    border: 1px solid #eae7e7; padding: 20px 0; float: left; margin: 5px;}

.footer-nav{margin-bottom:50px;}



 .bet-now:hover{text-decoration: none;background:#e6a56b;}

a:hover, a:focus {
    color: #2a6496;
    text-decoration: none;
}

 .bookmaker-background-wrap-955{background:#000000}
.bookmaker-background-wrap-884{background:}
.bookmaker-background-wrap-1087{background:}
.bookmaker-background-wrap-867{background:}
.bookmaker-background-wrap-852{background:#001b38}
.bookmaker-background-wrap-823{background:#2f2f2f}
.bookmaker-background-wrap-583{background:#ffffff}
.bookmaker-background-wrap-494{background:#ce2816}
.bookmaker-background-wrap-374{background:#2f2f2f}
.bookmaker-background-wrap-256{background:#e8e8e8}
.bookmaker-background-wrap-197{background:#ffffff}
.bookmaker-background-wrap-177{background:#04517f}
.bookmaker-background-wrap-43{background:#143158}
.bookmaker-background-wrap-30{background:#fa6200}



    




@media (max-width: 992px) {
#top-element .h1, #top-element .h5{max-width: 100%;}
}

@media (max-width: 768px) {
	#what-we-do .card-block{width:100%;float:left;}
.logo, #top-element .card, #bonus-list .list-group-item-text{text-align: center;}
.logo img{display: inline-block;}
#bonus-list .card{float:left;  padding: 20px 0; }
#bonus-list img{margin-bottom:30px;}
#bonus-list .list-group-item-text{margin-bottom: 30px;}
}


