	.row{width:100%;float:left;}
	.image-part{float:left;width:80px;text-align: center;border-right:1px solid #ebebeb;}
	.button.remove-row{float: right;margin:20px;color:#FFF;background:#9b2e2e;font-weight:700;}
	.button.remove-row:hover, .button.remove-row:focus{color:#FFF;background:#6f1b1b;}
	.text-part{float:left;width:calc(100% - 110px);}
	#customize-controls .text-part{width:calc(100% - 128px);}
	.image-preview{width:40px;height:40px;display: inline-block;cursor: move;}
	.button.add_image_button{background: #218529; color: #FFF; font-weight: 700;border:0;}
	.button.add_image_button:hover, .button.add_image_button:focus{background:#224f26;color:#FFF;}
	.repeater-title.widefat.text-field{width:100%;margin-left:20px;float:left;margin-bottom:10px;line-height:23px;}
	.repeater-link.widefat.text-field{width:100%;margin-left:20px;float:left;line-height:23px;}
	.remove-row{float:left;}
	.button.add-row-repeater{background: #218529;font-weight:700;float:left;width:100%;text-align: center;margin:30px 0 50px;padding:10px;color:#FFF;height:auto;}
	.button.add-row-repeater:hover, .button.add-row-repeater:focus{background:#224f26;color:#FFF;}
	.row-holder{height:100px;width:100%;float:left;box-shadow: 0 0 30px #ccc;margin:20px 0;}