
/*
Top 5 Reviews Widget-------------------------------------------------------------
*/


.widget_top_5_reviews_hlm_sports{padding:0;background: transparent;border-radius: 0;}
.widget_top_5_reviews_hlm_sports .widget-title{color:#FFF;border-bottom:5px solid #2f2f2f;width:100%;float:left;}
.widget_top_5_reviews_hlm_sports .widget-title h2{  position: relative;  background: #2f2f2f; width: auto; float: left;line-height: 34px;font-size:16px;padding:0 12px;font-weight: 600;border-radius: 0;}
.widget_top_5_reviews_hlm_sports .widget-title h2:before{content: ''; width: 100%; height: 100%; position: absolute; background: #2f2f2f; transform: skew(-28deg); z-index:-1; }
.top-5-reviews{width: 100%;}
.top-5-reviews.looks4{float:left;background:#d9d9d9;}



.top-5-reviews ul{width: calc(100% + 10px);margin-left:-10px;}

.top-5-reviews li{width:20%;float:left;padding-left:10px;}
.three-parts .top-5-reviews li{width:25%;}
.two-parts .top-5-reviews li{width:33%;}
.one-part .top-5-reviews li{width:100%;}

.top-5-logo-wrap {width:100%;float:left;background:#358d53;padding: 7px 10px;position: relative;overflow: hidden;}
.looks1 .top-5-logo-wrap:before {content: ''; width: 80px; height: 100%; position: absolute; background: #4cb469; transform: skew(-28deg); top:0; left:-20px; }
.top-5-position-number {float:left;    color: #FFF; font-weight: 600; font-size: 28px;position: absolute;    margin: 5px 0px;}
.looks1 .top-5-position-number:before{content:'#';font-size:12px;    letter-spacing: -4px; vertical-align: text-top; content: '#'; font-size: 16px; font-weight: 400;}
.top-5-logo {float:right;overflow: hidden;border-radius: 3px;}
.top-5-review-image-wrap {width:100%;position: relative;float:left;    background: #FFF;    overflow: hidden;}
.top-5-review-image img{width: 100%;float:left;}
.top-5-review-content-wrap {width:100%;position: absolute;bottom:0;background: #000000ad;color:#FFF;padding: 10px 10px 0;transition:all 0.6s;}
.top-5-review-content-wrap a{color:#FFF;}
.top-5-bookmaker-title {font-weight: 400;font-size: 20px;}
.top-5-bonus {font-size: 14px;}
.top-5-review-link {line-height: 36px;text-transform: uppercase;float: left;font-size:12px;text-decoration: underline;font-size: 14px;}
.top-5-review-bet-now {color:#FFF;font-weight: 600;float: right;padding: 5px 25px;background:#f67c01;border-bottom: 3px solid #c86804;font-size: 15px;text-transform: uppercase;box-shadow: 0 0 0 #000;    box-shadow: 0px -2px 0 #f67c01;border-radius: 2px;} 
.top-5-review-bet-now:active{border-bottom: 1px solid #c86804; background: #ff8101; border-right: 1px solid #c86804;    box-shadow: 0px 0px 0 -10px #f67c01;    text-shadow: 1px 0 0 #9c9c9c; }
#main .top-5-review-bet-now{padding-top:3px;padding-bottom:3px;}



.top-5-rules-link {text-align: right;width: 100%;float: left;font-size: 10px;}


.looks1 .top-5-tooltip{height:0;overflow: hidden;float:left;font-size:11px;line-height: 14px;transition:all 0.8s;position: relative;bottom:-100px;opacity: 0;}
.looks1 .top-5-review-image-wrap:hover .top-5-tooltip{height: 100%;bottom:0px;opacity: 1;max-height: 100%;height: 155px;}
.looks1 .top-5-review-image-wrap:hover .top-5-review-content-wrap{max-height: 100%;}
.looks1 .top-5-tooltip span{    width: 100%; text-align: center; float: left; font-size: 14px; margin: 10px 0 20px;font-weight: 800;}
.looks1 .top-5-review-bet-now{border-radius: 0;max-width:50%;width:50%;padding:0 10px;text-align: center;white-space: nowrap;}
.looks1 .top-5-review-link{max-width:50%;width:50%;text-align: left;    padding-left: 15px;}
.looks1 .top-5-review-bet-now:active{margin-top:5px;}
.looks1 .see-all-bookmakers-wrap{float:left;width:100%;text-align: center;margin:20px 0;}
.looks1 .see-all-bookmakers-button {display: inline-block; font-weight: 400; padding: 10px 15px; background: #358d53; border-bottom: 3px solid #206539; font-size: 18px;color: #FFF; width: auto; }
.looks1 .see-all-bookmakers-button:active {border-bottom: 1px solid #206539; background: #358d53; border-right: 1px solid #206539; box-shadow: 0px 0px 0 -10px #f67c01; text-shadow: 1px 0 0 #9c9c9c; margin-top: 2px; }
.looks1 .mobile-star-rating{   pointer-events: none; float: left; display: none; width: 80%; position: absolute;}
.looks1 .mobile-star-rating .star-rating{margin:3px 0;}
.looks1 .mobile-star-rating .full-star, .looks1 .mobile-star-rating .empty-star, .looks1 .mobile-star-rating .half-star{background-size:22px;width: 8%;height: 22px;}

.looks2 .top-5-tooltip{text-align:center;height:0;overflow: hidden;float:left;font-size:12px;line-height: 14px;transition:all 0.8s;position: relative;bottom:200px;opacity: 0;}
.looks2 .top-5-review-image-wrap:hover .top-5-tooltip{height:auto;bottom:0px;margin:10px 0 ;opacity: 1;}
.looks2 .top-5-review-image-wrap:hover .top-5-review-content-wrap{padding-top:200px;}


.looks5 .top-5-tooltip{pointer-events: none;padding:20px 20px 20px;border:1px solid #ccc;overflow: hidden;float:left;font-size:11px;line-height: 14px;position: relative; float: left;  width:100%; top: 90px; position: absolute; transition:all 0.8s; z-index: 99; left:0; opacity: 0; max-width: 66%; font-weight: 800;transition-delay: 0.2s;background: #FFF;}


.looks5 li:hover .top-5-tooltip{width: 100%;
    opacity: 1;
    top: -10px;
    box-shadow: 5px 5px 8px #00000061;}



.looks5 li .top-5-bonus{position: relative;top:0px;transition:all 0.4s;transition-delay: 0.5s;}
.looks5 li .top-5-bonus span{font-weight: 800;font-size:18px;color:#358d53;    letter-spacing: -1px;}
.looks5 li .top-5-star-rating {position: relative;top:0px;transition:all 0.4s;transition-delay: 0.5s;}
.looks5 li .top-5-star-rating-grade{position: relative;top:0px;transition:all 0.4s;transition-delay: 0.5s;}

.looks5 .top-5-tooltip span{        font-size: 14px;
    margin-bottom: 5px;
    float: left;
    width: 100%;
    margin-top: -7px;font-weight: 800;}

.looks5 li.big-looks5:hover .top-5-bonus{position: relative;top:0;}
.looks5 li.big-looks5:hover .top-5-star-rating {position: relative;top:0;}
.looks5 li.big-looks5:hover .top-5-star-rating-grade{position: relative;top:0;}

.looks5 li:hover .looks-5-content-wrap.bonus-with-check{position: relative;top:-90px;opacity: 0;}

.looks-5-content-wrap.bonus-with-check{position: relative;top:0px;transition:all 0.4s;opacity: 1;}

.looks5 li.big-looks5 .top-5-tooltip{overflow: hidden; font-size: 12px; line-height: 14px; float: left;  position: absolute; transition: all 0.8s; z-index: 99; left: 0; opacity: 0; max-width: 85%; height: auto; top: 90px; width: 85%; }

.looks5 li.big-looks5:hover .top-5-tooltip{max-width: 85%; height:auto; top: 15px; opacity: 1; width: 85%; }







.looks2.top-5-reviews li{width:25%;}
.three-parts .looks2.top-5-reviews li{width:33.3%;}
.two-parts .looks2.top-5-reviews li{width:50%;}
.one-part .looks2.top-5-reviews li{width:100%;}
.looks2 .top-5-logo-wrap:before {content: ''; width: 80px; height: 100%; position: absolute; background: #4cb469; transform: skew(-28deg); top:0; left:-20px; }
.looks2 .top-5-position-number:before{content:'#';font-size:12px;    letter-spacing: -4px; vertical-align: text-top; content: '#'; font-size: 16px; font-weight: 400;}

.single-payment_option .pros-and-cons-left{text-align: center;}
.single-payment_option .pros-and-cons-bet-now{display: inline-block;position: relative;right:auto;bottom:auto ;}

.pros-and-cons-terms{text-align: left;font-size: 10px; bottom:10px;position: absolute;line-height: 16px;}


.looks2 .top-5-logo {float: right; margin-right: calc(50% - 78px); }
.looks2 .top-5-bonus{float:left;width: 50%;}
.looks2 .top-5-star-rating {float:right;width: 50%;    margin: 0 0 20px;    text-align: right;}
.looks2 .star-rating {text-align: right;}
.looks2 .top-5-rules-link{float:right;}
.looks2 .top-5-review-link{    line-height: unset;position: absolute; bottom: 10px; font-size: 12px;}
.looks2 .top-5-review-bet-now{width: 34%; margin: 0 32%; position: absolute; padding: 3px 15px; background: #f67c01; text-align: center; bottom: 5px;}










.looks3 .top-5-logo-wrap {width:136px;float:left;background:#358d53;padding:0;overflow: hidden;    position: relative;}
.looks3 .top-5-position-number {   font-style: italic; float: left; color: #FFF; font-weight: 400; font-size: 11px; position: absolute; top: 0; left: 3px; margin: 0;}
.looks3 .top-5-logo-wrap:before {content: ''; width: 50px; height: 100%; position: absolute; background: #5a5859; transform: skew(-28deg); top:0; left:-35px; }
.looks3 .top-5-logo-wrap:after {border-left: 1px solid #eaeaea;content: ''; width: 50px; height: 100%; position: absolute; background: #FFF; transform: skew(-28deg); top:0; right:-35px; }

.looks3 .top-5-logo {float:right;    padding: 8px 25px;}


.looks3 .top-5-review-image-wrap{width: calc(100% - 136px);}

.looks3 .top-5-review-content-wrap {      min-height: 44px;  line-height: 22px;width:100%;position: relative;bottom:0;background: #FFF;color:#FFF;padding:0px;float:left;}
.looks3 .top-5-review-content-wrap a{    font-size: 12px; color: #3271ae; text-transform: capitalize; font-weight: 600;}
.looks3 .top-5-star-rating {margin:5px 0 0;text-align: left;font-size:20px;color:#f7dd00;    zoom: 0.8;
    margin: 5px 0 -5px;}
.looks3 .star-rating {text-align: left;}
.looks3 .top-5-review-bet-now{        width: 60px; position: absolute; top: 10px; right: 10px; height: 30px; text-align: center; padding: 5px;}
.looks3 .top-5-review-link{width: calc(100% - 70px); text-align: center; line-height: 15px; float: left;}
.looks3.top-5-reviews li{width:100%;margin-bottom:2px; }





.looks4.top-5-reviews li{width:100%;margin-bottom: 2px;}
.looks4.top-5-reviews li:last-child{margin:0;}
.looks4 .top-5-logo-wrap {width:136px;float:left;background:#358d53;padding:0;overflow: hidden;    position: relative;}
.looks4 .top-5-position-number {float:left;    color: #FFF; font-weight: 600; font-size: 25px;position:absolute;}
.looks4 .top-5-logo-wrap:after {    border-left: 1px solid #eaeaea;content: ''; width: 50px; height: 100%; position: absolute; background: #FFF; transform: skew(-28deg); top:0; right:-35px; }
.looks4 .top-5-logo {border-radius:0;float:right;    padding: 8px 40px 8px 10px;}
.looks4 .top-5-review-image-wrap{width: calc(100% - 136px);}
.looks4 .top-5-review-content-wrap {        text-align: center;
    line-height: 44px;width:100%;position: relative;bottom:0;background: #FFF;color:#FFF;padding:0px;float:left;}
.looks4 .top-5-review-content-wrap a{    font-size: 14px; color: #3271ae; text-transform: capitalize;}
.looks4 .top-5-star-rating {text-align: left;font-size:20px;color:#f7dd00;}
.looks4 .top-5-review-bet-now{    width: 60px; position: absolute; top: 10px; right: 10px; height: 30px;}

.looks4 .top-5-review-link {
    display: inline-block;
    text-transform: uppercase;
    float: none;
    font-size: 12px;
    text-decoration: underline;
}



.looks5.top-5-reviews{padding:20px;background:#5a5859;float:left;    position: relative;}
.looks5 .top-5-logo-wrap {text-align: center;width:220px;float:left;background:#CCC;padding: 10px 0;overflow: visible;position: relative;}
.looks5 .top-5-position-number {     background: #4cb469; height: 30px; width: 30px; line-height: 30px; font-style: italic; float: left; color: #FFF; font-weight: 400; font-size: 11px; position: absolute; top: 17px; left: -5px; margin: 0;}
.looks5 .top-5-position-number:before {position: absolute; content: ''; left: 0; bottom: -5px; border-color: #358d53 transparent transparent transparent; border-style: solid; border-width: 5px 0 0 5px; }


.looks5 .top-5-logo-wrap:after {content: ''; width: 50px; height: 100%; position: absolute; background: #FFF; transform: skew(-28deg); top:0; right:-30px; }
.looks5 .top-5-logo {float: none;    padding-right: 20px;}
.looks5 .top-5-logo img{border-radius: 2px;overflow:hidden;}
.looks5 .top-5-review-image-wrap{width: calc(100% - 220px);overflow:visible;}
.looks5 .top-5-review-content-wrap {      min-height: 64px;  line-height: 22px;width:100%;position: relative;bottom:0;background: #FFF;color:#FFF;padding:0px;float:left;}
.looks-5-content-wrap{width:33%;float:left;text-align: center;min-height: 64px;}

.looks5 .top-5-bonus{    color: #292929;
    padding: 10px 15px 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;}
.looks5 .top-5-review-content-wrap a{    font-size: 12px; color: #3271ae; text-transform: capitalize; font-weight: 600;}
.looks5 .top-5-star-rating {display:inline-block; margin:10px 0 0;text-align: left;font-size:26px;color:#f7dd00;}
.looks5 .top-5-star-rating-grade{color:#000;font-size: 12px;line-height: 12px;}
.looks5 .top-5-review-bet-now{margin: 10px 10px 0 0;width: 150px;position: relative;height: 30px;text-align: center;padding: 5px;}

.looks5 .top-5-review-link{width: 150px;text-align: center;line-height: normal;float: right;margin-right: 10px;}
.looks5.top-5-reviews li{width:100%;margin-bottom:2px; }

.biglooks-5-title{width:100%;float:left;font-size:40px;text-align: center;color: #FFF; line-height: 50px; position: relative;    background: #2f2f2f; padding: 0 12px; font-weight: 600;    z-index: 9;white-space: nowrap;}
.top-5-big-bonus{font-size:12px;color:#000;text-align: left;}
.looks5 .payment-icon{    line-height: normal; width: 40px; height: 13px; background: #f5f5f5; padding-left: 0; margin-right: 5px; padding: 4px 0;}
.looks5 .payment-icon:nth-child(1){}

.looks5 .big-looks5 .looks-5-content-wrap, .looks5 .big-looks5 .top-5-review-content-wrap{height:64px;}
.top-5-terms{    font-size: 10px; top: 0; position: absolute; width: 100%; float: left; color: #FFF; line-height: 20px;}
.looks5 .big-looks5 .top-5-logo-wrap {   width: 220px;   height: 178px;  background: #2f2f2f;    padding-right: 20px;}
.looks5 .big-looks5 .top-5-review-image-wrap{    width: calc(100% - 220px);}

.looks5 .big-looks5 .top-5-logo{margin-top:50px;padding-right: 0;}
.looks5 .big-looks5 .top-5-position-number{width:auto;text-align:left;}
.looks5 .big-looks5 .top-5-position-number span{margin-left:10px;float:left;}
.looks5 .big-looks5 .top-5-position-number span:nth-child(2){background: #358d53;    padding: 0 10px 0 10px;}
.looks5 .big-looks5 .top-5-logo-wrap:after{    width: 70px;right: -49px;}
.looks5 .big-looks5 .top-5-position-number span:nth-child(2):before {content: ''; width: 30px; height: 100%; position: absolute; background: #358d53; transform: skew(-28deg); right: -20px; } 
.looks5 .big-looks5 .top-5-star-rating-grade{color:#FFF;}

.looks-5-content-wrap.bonus-with-check{text-align: left;}